* {
  box-sizing: border-box; }

section {
  height: 500px;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px; }

.container {
  border: 3px #5BA3D6 solid;
  height: 450px;
  width: 100%;
  position: relative; }

.shirtImage1 {
  height: 400px;
  background-image: url("/Users/jaserader/dev/homework/week02/tuesday/assets/shirt_blue.png");
  background-repeat: no-repeat;
  background-position: center center; }

.shirtImage2 {
  height: 400px;
  background-image: url("/Users/jaserader/dev/homework/week02/tuesday/assets/shirt_pink.png");
  background-repeat: no-repeat;
  background-position: center center; }

.shirtImage3 {
  height: 400px;
  background-image: url("/Users/jaserader/dev/homework/week02/tuesday/assets/shirt_yellow.png");
  background-repeat: no-repeat;
  background-position: center center; }

.shirtNav {
  bottom: 0;
  width: 100%;
  position: absolute; }

.shirtNav a {
  border-top: 3px #5BA3D6 solid;
  border-right: 3px #5BA3D6 solid;
  height: 60px;
  width: 20%;
  float: left;
  color: #5BA3D6;
  font-size: 25px;
  text-align: center;
  padding-top: 15px; }
  .shirtNav a:hover {
    background: #5BA3D6;
    color: #fff; }

.shirtNav a:last-child {
  border-right: none; }

.fa-repeat {
  height: 35px;
  width: 35px;
  border-left: 3px #5BA3D6 solid;
  border-bottom: 3px #5BA3D6 solid;
  color: #5BA3D6;
  font-size: 15px;
  text-align: center;
  padding-top: 8px;
  position: absolute;
  top: 0;
  right: 0; }
  .fa-repeat:hover {
    background: #5BA3D6;
    color: #fff; }

.trees {
  color: #5BA3D6;
  font-size: 25px;
  width: 100%;
  padding: 25px 25px; }

.save {
  float: left; }

.trees .price {
  float: right;
  font-weight: bold; }

.size:hover .sizeNav {
  display: block; }
  .size:hover .sizeNav ul {
    color: #5BA3D6;
    border: 3px #5BA3D6 solid;
    height: 150px;
    width: 95px;
    list-style-type: none;
    bottom: 100%; }
    .size:hover .sizeNav ul li {
      float: left;
      display: block;
      padding-top: 10px;
      padding-right: 5px; }

.sizeNav {
  display: none; }

.color:hover .colorNav {
  display: block; }
  .color:hover .colorNav ul {
    color: #5BA3D6;
    border: 3px #5BA3D6 solid;
    height: 125px;
    width: 125px;
    list-style-type: none;
    position: relative; }
    .color:hover .colorNav ul i {
      font-size: 33px;
      display: block;
      float: left;
      position: relative;
      padding: 5px;
      top: 17px;
      left: -19px; }

.colorNav {
  display: none; }

.pink {
  color: #D382AA; }

.yellow {
  color: #DCB07D; }

.green {
  color: #8BB992; }

@media (min-width: 800px) {
  section {
    float: left;
    height: 500px;
    width: 50%;
    padding: 15px;
    margin-bottom: 25px; } }

@media (min-width: 1100px) {
  section {
    float: left;
    height: 500px;
    width: 33.33%;
    padding: 15px;
    margin-bottom: 25px; } }
